[Global]
vol preset = default_for_all_vol
hostname = TimeCapsule
log file = /var/log/netatalk.log
log level = default:info
uam list = uams_dhx.so,uams_dhx2.so
save password = no
disconnect time = 168
dsireadbuf = 96
sleep time = 24
tcprcvbuf = 524288
tcpsndbuf = 524288
dircachesize = 131072
keep sessions = yes
mimic model = Xserve

[default_for_all_vol]
file perm = 0664
directory perm = 0774
;cnid scheme = cbd
valid users = {{ netatalk_timemachine_valid_users }}

;[Homes]
;    basedir regex = /home
;    home name = Home: $u
;    cnid scheme = dbd

[Time Machine]
    path = {{ netatalk_timemachine_path }}
    time machine = yes
    vol size limit = {{ netatalk_timemachine_vol_size_limit }}
